@use "../base/var" as *;
@use "../base/media" as *;

.footer {
  padding: 80px 0 32px;
  background-color: $green;
  background-image: url("/images/paw.svg");
  background-size: 311px 295px;
  background-repeat: no-repeat;
  color: $light;
  background-position: 30vw 50px;

  @include bigscreen {
    background-position: 39vw 32px;
  }

  @include laptop {
    padding: 40px 0 32px;
    background-size: 215px 203px;
    background-position: 56vw 135px;
  }

  @include mobile {
    padding: 30px 0 24px;
    background-position: 61vw 200px;
  }

  &__container {
    display: grid;
    grid-template-areas: "logo contacts" "info contacts";

    @include mobile {
      grid-template-areas: "logo" "contacts" "info";
    }
  }

  &__logo {
    grid-area: logo;
    width: 331px;
    margin-bottom: 50px;

    @include tablet {
      width: 200px;
      margin-bottom: 82px;
    }

    @include mobile {
      margin-bottom: 32px;
    }
  }

  /* .footer__info */

  &__info {
    grid-area: info;
  }

  /* .footer__copyright */

  &__copyright {
    font-size: 16px;
    margin-bottom: 16px;
  }

  /* .footer__text */

  &__text {
    font-size: 16px;
    margin-bottom: 3px;
  }

  /* .footer__item */

  &__item {
    font-size: 16px;
    margin-bottom: 3px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  /* .footer__item-link */

  &__item-link {
    font-size: 16px;
  }

  /* .footer__contacts */

  &__contacts {
    grid-area: contacts;
    justify-content: end;
    font-style: normal;

    @include mobile {
      justify-content: start;
      margin-bottom: 67px;
    }
  }

  /* .footer__contacts-email */

  &__contacts-email {
    margin-bottom: 16px;
  }

  /* .footer__list-social */

  &__list-social {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  /* .footer__item-social */

  &__item-social {
    margin-bottom: 3px;
    font-size: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  /* .footer__social-link */

  &__social-link {
    font-size: 16px;
  }
}
