@use "../base/var" as *;

.hero {
  padding: 218px 0 245px;
  background-image: url("/images/bg-dog@1x.png"), url("/images/pattern.svg");
  background-size: contain, cover;
  background-position: right, center;
  background-repeat: no-repeat;
  background-color: $purple;
  color: $light;

  &__tittle {
    max-width: 810px;
    margin-bottom: 50px;
  }

  &__text {
    max-width: 420px;
  }
}
